# Ignore environment files
.env

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment folders
venv/
env/

# Ignore IDE and editor config files
.vscode/
.idea/
*.swp

# Ignore logs and database files
*.log
*.sqlite3


node_modules/

.gitignore

backend/services/scriptCompare.py