.audio-recorder {
    margin: 20px;
    /* border: 20px solid black; */
  }
  
  .audio-recorder button {
    padding: 10px 20px;
    font-size: 16px;
    /* border: 20px solid black; */
  }
  
  .audio-preview {
    margin-top: 10px;
    /* border: 20px solid black; */
  }
  